<!-- Area Chart -->
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">About Me</h6>

        </div>
        <!-- Card Body -->
        <div class="card-body">
            <EditForm Model="@aboutMeUIModel" OnValidSubmit="SubmitAboutMe" FormName="@("main")">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <label for="exampleFormControlName" class="form-label">Name</label>
                    <InputText id="name" class="form-control" @bind-Value="aboutMeUIModel!.Name" placeholder="name" />
                    <ValidationMessage For="@(() => aboutMeUIModel!.Name)" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlEmail" class="form-label">Email address</label>
                    <InputText id="email" class="form-control" @bind-Value="aboutMeUIModel!.Email" placeholder="name@example.com" />
                    <ValidationMessage For="@(() => aboutMeUIModel!.Email)" />
                </div>

                  <div class="mb-3">
                    <label for="exampleFormControlAddress1" class="form-label">Address 1</label>
                    <InputText id="email" class="form-control" @bind-Value="aboutMeUIModel!.Address1" placeholder="address 1" />
                    <ValidationMessage For="@(() => aboutMeUIModel!.Address1)" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlAddress2" class="form-label">Address 2</label>
                    <InputText id="email" class="form-control" @bind-Value="aboutMeUIModel!.Address2" placeholder="address 2" />
                    <ValidationMessage For="@(() => aboutMeUIModel!.Address2)" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlAddress2" class="form-label">City </label>
                    <InputText id="email" class="form-control" @bind-Value="aboutMeUIModel!.City" placeholder="City" />
                    <ValidationMessage For="@(() => aboutMeUIModel!.City)" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlState" class="form-label">State </label>
                    <InputText id="email" class="form-control" @bind-Value="aboutMeUIModel!.State" placeholder="City" />
                    <ValidationMessage For="@(() => aboutMeUIModel!.State)" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlZip" class="form-label">Zip </label>
                    <InputText id="email" class="form-control" @bind-Value="aboutMeUIModel!.Zip" placeholder="City" />
                    <ValidationMessage For="@(() => aboutMeUIModel!.Zip)" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

}
